PORT=8080

POSTGRESQL_USERNAME=postgres
POSTGRESQL_PASSWORD=1
POSTGRESQL_HOST=localhost
POSTGRESQL_DATABASE=scheduled_trains
POSTGRESQL_PORT=5432

JWT_ACCESS_SECRET=aezakmi
JWT_REFRESH_SECRET=aezakmiasdasdsa
